.basico{
    border: 1px solid black;
    padding:20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.titulo{
    text-align: center;
    color: red;
    margin-bottom: 40px;
}
#feedback {
    font-size: 1.4em;
}
#selectable .ui-selecting {
    background: #FECA40;
}
#selectable .ui-selected {
    background: #F39814;
    color: white;
}
#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 60%;
}
#selectable li {
    padding: 10px;
    margin-bottom: 5px;
}