.basico{
    border: 1px solid black;
    padding:20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.titulo{
    text-align: center;
    color: red;
    margin-bottom: 40px;
}
#sortable {
    list-style-type: none;
    margin-left: 60px;
    padding: 0;
    width: 350px;
 }
#sortable li {
    margin: 3px 3px 3px 0;
    padding: 1px;
    float: left;
    width: 100px;
    height: 90px;
    font-size: 4em;
    text-align: center;
}