.basico{
    border: 1px solid black;
    padding:20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.titulo{
    text-align: center;
    color: red;
    margin-bottom: 40px;
}
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}
#sortable li {
    padding: 12px;
    margin-bottom: 10px;
 }
#sortable li span {
    position: absolute;
    margin-left: -0.8em;
}
