
.basico{
    border: 1px solid black;
    padding:20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.titulo{
    text-align: center;
    color: red;
    margin-bottom: 40px;
}
ul{
    list-style: none;
}
#catalogo li{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 150px;
}
#carrinho ul{
    padding: 50px 120px;
    text-align: center;
    border: 1px solid black;
    float: right;
}